<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>응시자 추가</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>
    <body>
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="email">응시자 Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="name">응시자 이름</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="access-code">응시자 코드</label>
            <input type="text" class="form-control" id="access-code" name="access-code" value=<%= accessCode %> readonly>
        </div>
        <a href="/exams/users/<%= id %>" class="btn btn-light">취소</a>
        <input type="submit" class="btn btn-primary" value="완료">
    </form>
</div>
    </body>
</html>
