<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
<div class="container-fluid">
  <p><strong><%= email %></strong>님 환영합니다. <a href="/users/signout">Sign out</a></p>
</div>
  </body>
</html>
