<% if (flash.success) { %>
    <div class="alert alert-success" role="alert">
        <%= flash.success %>
    </div>
<% } %>
<% if (flash.danger) { %>
    <div class="alert alert-danger" role="alert">
        <%= flash.danger %>
    </div>
<% } %>
