<!DOCTYPE html>
<html>
    <head>
        <title>회원탈퇴 - FBEye</title>
        <% include ../common/head %>
        <link rel="stylesheet" href="/stylesheets/users.css">
    </head>
    <body>
<div class="container mt-3">
    <% if (flash.danger) { %>
        <div class="alert alert-danger" role="alert">
            <%= flash.danger %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <form method="post">
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <br><input type="submit" class="btn btn-danger" value="회원탈퇴" style="width: 100%;">
            </form><br>
            <p><a href="/">취소</a></p>
        </div>
        <div class="col-md"></div>
    </div>
</div>
    </body>
</html>
