<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sign up</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>
    <body>
<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <form method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="password-confirm">Password Confirm</label>
                    <input type="password" class="form-control" id="password-confirm" name="password-confirm" required>
                </div>
                <br><input type="submit" class="btn btn-primary" value="Sign up" style="width: 100%;">
            </form>
            <p><a href="signin">Sign in</a></p>
        </div>
        <div class="col-md"></div>
    </div>
</div>
    </body>
</html>
