<!DOCTYPE html>
<html>
    <head>
        <title>문제 편집 - FBEye</title>
        <% include ../../common/head %>
    </head>
    <body>
<% include ../../common/sidebar %>
<div class="container">
    <div class="mt-3"></div>
    <h3>문제 편집</h3>
    <form method="post">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label>문제 형식</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="short" name="type" value="주관식" checked>
                        <label for="short" class="form-check-label">주관식</label><!-- TODO: 원래 무슨 값이었는지 받아와야 함 -->
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="score">배점</label>
                    <input type="number" class="form-control" id="score" name="score" required><!-- TODO: 원래 무슨 값이었는지 받아와야 함 -->
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="question">문제</label>
            <textarea class="form-control" id="question" name="question" required></textarea><!-- TODO: 원래 무슨 값이었는지 받아와야 함 -->
        </div>
        <div class="form-group">
            <label for="answer">답</label>
            <textarea class="form-control" id="answer" name="answer" required></textarea><!-- TODO: 원래 무슨 값이었는지 받아와야 함 -->
        </div>
        <p class="text-right">
            <a href="/exams/questions/<%= id %>" class="btn btn-danger">취소</a>
            <input type="submit" class="btn btn-primary" value="✔ 완료">
        </p>
    </form>
</div>
    </body>
</html>
