<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>문제 관리</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>
    <body>
<div class="container">
    <p><a href="/exams/questions/new/<%= id %>" class="btn btn-primary">문제 추가</a></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">문제</th>
                <th scope="col">문제 형식</th>
                <th scope="col">배점</th>
            </tr>
        </thead>
        <tbody>
            <% if (questions.length > 0) { %>
                <% questions.forEach(e => { %>
                    <% if (e) { %>
                        <tr>
                            <td><%= e.question %></td>
                            <td><%= e.type %></td>
                            <td><%= e.score %></td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } else { %>
                <tr>
                    <td>문제가 없습니다.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
    </body>
</html>
